body{
  background-color: #1b262c;
  margin: 0;
  padding: 0;

}

.box1{
  height: 500px;
  width: 400px;
  position: absolute;
  top: 7%;
  left: 35%;
  background-color: #fa7d09;
  border-radius: 20px;



}
.h1{
  position: absolute;
}
.box2{
  height:320px;
  width:400px;

  background-color: #f4f4f4;
  margin-top: 70%;
  left: 35%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.box3{
    height: 400px;
    width:365px;
    background-color: #f4f4f4;
    margin-top: -105%;
    margin-bottom: -20%;
    margin-left: 4.5%;
    left: 40%;
    border-radius: 10px;
    border: 1px solid;
    border-color: #d8d3cd;
}
.box4{
    height: 40px;
    width: 320px;

    background-color: #f4f4f4;
    border: 1px solid;
    border-color: #d8d3cd;
    margin-top: -80%;
    margin-left: 10%;
    border-radius: 10px;

}
.ul{
  background-color: #fa7d09;
}

.box5{
  height: 40px;
  width: 320px;
  background-color: #f4f4f4;
  border: 1px solid;
  border-color: #d8d3cd;
  margin-top: 2%;
  margin-left: 10%;
  border-radius: 10px;

}
.box6{
  height: 40px;
  width: 320px;
  background-color: #f4f4f4;
  border: 1px solid;
  border-color: #d8d3cd;
  margin-top: 3%;
  margin-left: 10%;
  border-radius: 10px;
}
.box7{
  height: 40px;
  width: 320px;
  background-color: #f4f4f4;
  border: 1px solid;
  border-color: #d8d3cd;
  margin-top: 4%;
  margin-left: 10%;
  border-radius: 10px;
}
.box8{
  height: 40px;
  width: 290px;
  background-color: #f4f4f4;
  border: 1px solid;
  border-color: #d8d3cd;
  margin-top: 9%;
  margin-left: 14%;
  border-radius: 30px;
  box-shadow: 20% 20% 20%;

}
li{
  color: #fa7d09;
  shadow: 20% 20% 20%;
}
li span{
  color: black;
  font-family: arial;
  font-size: 77%;
  margin: auto;

}
.text1{
  font-family: sans-serif;
  margin-left: 40%;
  margin-top: 2.7%;
  position: absolute;
  color: #f4f4f4;
  font-size: 100%;
}
.text2{
  font-family: sans-serif;
  margin-left: 38%;
  margin-top: 17%;
  position: absolute;
  color: black;
  font-size: 95%;

}
.dot{
  height: 20px;
  width: 20px;
  margin-left: 52%;
  margin-top: 16.8%;
  position:absolute;
  background-color: #f4ebc1;
  border-radius: 50%;

}
.questionmark{

  margin-left: 52.3%;
  margin-top: 16.8%;
  position:absolute;
  color: #fa7d09;
}
.logo{
  height: 54px;
  width: 54px;
  margin-left: 38%;
  margin-top: 12%;
  position: absolute;
  background-color: #fa891e;
  border-radius: 50%;
  border-color: #f4f4f4, solid;

}
.smily{
  margin-left: 38.6%;
  margin-top: 12.5%;
  font-size: 200%;
  position: absolute;


}
